
  <div class="card-body  footer">
    <h5 class="card-title text-black">Prasad Chandwadkar</h5>
    <p class="card-text text-black">THIS IS A DEMO PROJEDT MADE WITH NODEJS, EXPRESSJS AND MONGODB</p>
    <a href="https://www.linkedin.com/feed/" class="btn btn-primary rounded-5">Linkedin</a>
  </div>



</body>
</html>